*{
    color:white;
}

html, body{
    height: 100%;
}

body{
    height: 100vh;
    background-image: linear-gradient(to top right, #472CA8, #000000);
}

#icon {
    height: 45px;
}

footer{
    height: 4vh;
    background-color: #000000;
}

nav{
    background-color: #00000059;
}

#formFile {
    margin-bottom: 1em;
}

#add{
    width: 70px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

#add:hover{
    cursor: pointer;
}

.slide{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#interface{
    height: 96vh;
    overflow: hidden;
}

#wrapper{
    transition: all ease-in-out 500ms;
}

#load{
    transition: all 500ms ease-in-out;
}

#building{
    height: 400px;
    width: 200px;
}

#down-arrow{
    transform: translateY(-101vh);
    filter: invert(1);
    transition: all ease-in-out 500ms;
    position: fixed;
    bottom: 50px;
    right: 0;
    height: 50px;
    z-index: 99;    
}

#down-arrow:hover{
    cursor: pointer;
}

.form input{
    margin-bottom: 1em;
    color: black;
    border-radius: 10px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;  
    border:none;
    background-image:none;
}

.form label{
    margin-right: 1em;
}

.andarP {
    padding: 1em;
    border: #FFFFFF 2px solid;
    text-align: center;
}

input[type="radio"]:checked ~ *{
    color: green;
    border-color: green;
    background-color: #FFFFFF;
}

.sumir{
    opacity: 0;
    transition: all ease-in-out 500ms;
}